<div class="outside-container" class="layout vertical">
  <h2>Users</h2>

  <table class="layout horizontal center-justified" id="users-list-table">
    <% @users.each do |user| %>
      <tr>
        <td class="users-email-td"><%= user.email %></td>
        <td style="padding:12px;">
          <% if user.admin %>
            <%= button_to "Revoke admin priviliges", admin_path(user), method: :put %>
          <% else %>
            <%= button_to "Grant admin priviliges", admin_path(user), method: :put %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <%= will_paginate @users %>
</div>
