<div style="height:100%;width:100%;margin-top:-15px;" >
  <div style="position: relative;margin: 0 auto;width: 900px;padding: 45px 15px;" class="layout horizontal">
    <div class="layout horizontal around-justified" style="width:100%;">
      <div class="layout horizontal">
        <div class="submit-container2">
          <%= button_to 'Profile', edit_user_registration_path, method: :get %>
        </div>
      </div>

      <div class="layout horizontal">
        <div class="submit-container2">
            <%= button_to "Wallet", user_addresses_path(current_user), method: :get %>
        </div>
      </div>

      <div class="layout horizontal">
        <div class="submit-container2">
            <%= button_to "Address Book", user_addresses_path(current_user), method: :get %>
        </div>
      </div>

    </div>
  </div>
</div>
