<div class="outside-container layout vertical">
  <h2>Forgot your password?</h2>

  <div class="layout horizontal center-justified">
    <div style="width:350px;">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>


        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100%;">
          <%= f.email_field :email, autofocus: true, class: "mdl-textfield__input" %>
          <label class="mdl-textfield__label" for="user_email">Email</label>
        </div>

        <div class="layout horizontal center-justified">
          <div class="submit-container2">
            <%= f.submit "Send password reset" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
