---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=person1%40email.com
    headers:
      Authorization:
      - Bearer sk_test_Hj7BZET9CsiHgnM1LXziAJFj
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-04-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_AjLajTwZ9BXOAb",
          "object": "customer",
          "account_balance": 0,
          "created": 1495845298,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "person1@email.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_AjLajTwZ9BXOAb/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_AjLajTwZ9BXOAb/subscriptions"
          }
        }
  recorded_at: Sat, 27 May 2017 00:34:57 GMT
recorded_with: VCR 3.0.3
