<div class="layout center-justified horizontal wrap outside-container">
    <div id="cart-summary">
      <%= render @cart %>
    </div>

    <div class="layout vertical">
      <%= render 'form' %>
    </div>
</div>
