- if cart.line_items.present?
  %ul.mdc-list.mdc-list--avatar-list.form-container.w-100.line-items
    = render cart.line_items
  .grand-total= number_to_currency(cart.total_price * 1.06)
  = link_to "Checkout", new_order_path, class: "large-round-btn"
- else
  .layout.horizontal.center-justified.mt-3
    %h4 Your shopping cart is currently empty
