= link_to "#!", class: "cart-peek-link mr-6 layout" do
  %i.material-icons shopping_cart
  = current_cart.count_items
.cart-peek.hidden.cart.layout.vertical.center.mdc-elevation--z4
  = render current_cart
