<%= form_for([@user, @subscription]) do |f| %>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="layout vertical center">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.select :plan, options_from_collection_for_select(@plans, :id, :name), {}, class: "mdl-textfield__input" %>
      <label class="mdl-textfield__label">Plan</label>
    </div>

    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
      <%= f.submit "Subscribe" %>
    </button>
  </div>
<% end %>
