<div class="outside-container layout vertical">
  <div class="layout horizontal center-justified">
    <div>
      <h2>Create subscription plan</h2>

      <%= render 'form' %>
    </div>
  </div>
</div>
