= render "layouts/account_tabs", active_tab: :addresses
.container
  %h2 Address Book
  .layout.horizontal.center-justified.wrap
    = render partial: "addresses/address", collection: @addresses, cached: true
= fab new_address_path
