= render "layouts/account_tabs", active_tab: :addresses
.container
  %h2 Address Book
  .layout.horizontal.center-justified.wrap
    - if @addresses.blank?
      %h3 No addresses
    - else
      = render partial: "addresses/address", collection: @addresses, cached: true
= fab new_address_path
