<div class="outside-container layout vertical center">
  <%= render @posts, show: false %>

  <%= will_paginate @posts %>
</div>

<% if current_user.try(:admin?) %>
  <%= link_to new_post_path do %>
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored fab">
      <i class="material-icons">add</i>
    </button>
  <% end %>
<% end %>
