<% if current_user.try(:admin?) %>
  <div class="layout horizontal center-justified" id="delete-product">
    <%= link_to "delete", post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>

<div class="outside-container layout horizontal wrap center-justified">
<%= render @post, show: true %>
</div>

<% if current_user.try(:admin?) %>
  <%= link_to edit_post_path(@post) do %>
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored fab">
      <i class="material-icons">edit</i>
    </button>
  <% end %>
<% end %>
