// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.empty-cart {
  margin-top:25px;
}

#cart-peek {
  position: fixed;
  width:360px;
  top: 48px;
  right: 40px;
  opacity: 1;
  background-color: #BDBDBD;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  visibility: visible;
  font-style: normal;
  font-size: 12px;
  z-index: 1101;
  display: block;
  padding: 30px;
  line-height: 1em;
  display: none;
}

#small-cart-container {
  position: fixed;
  top: 0;
  right: 40px;
  opacity: 1;
  background-color: #16181a;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  visibility: visible;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 1px;
  z-index: 1101;
  cursor: pointer;
}
#small-cart-link {
  display: block;
  color: #fff;
  padding: 12px;
  white-space: nowrap;
  line-height: 1em;
  font-weight: 500;
}

#cart-summaries {
  .summary-total-container {
    height:15px;
    padding-right: 51px;

    .summary-total-header {
      width:100%;
      text-align:right;
      text-transform: uppercase;
      color: #777;
      font-size: 10px;
    }

    .summary-total-price {
      font-size: 12px;
      min-width: 100px;
      text-align: right;
    }
  }
  .grand-total {
    padding-right: 51px;
    line-height: 32px;
    margin-top: 18px;
    border-top: 1px solid #ddd;
    padding-top: 15px;

    .grand-total-price {
      font-size: 16px;
      font-weight:500;
      float: right;
      min-width: 100px;
      text-align: right;
      margin-top:-8px;
    }

    .grand-total-header {
      float: right;
      text-transform: uppercase;
      color: #777;
      font-size: 16px;
      word-wrap: normal;
      margin-top:-8px;
    }
  }
}

#cart-table {
  border-bottom: 1px solid #ddd;
  padding-top: 20px;
  margin-bottom: 10px;
  width: 100%;

  .item-th {
    font-size:10px;
    color:#666;
  }
  .quantity-th {
    font-size:10px;
    color:#666;
    width:20px;
  }
  .price-th {
    text-align: right;
    width: 90px;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px;
    line-height:13px;
    color:#666;
  }
}
