// Place all the styles related to the LineItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.line-item-tr {
  .product-td {
    vertical-align:top;
    width:174px;

    .product-img {
      float:left;
      padding:0 8px 10px 0;
      text-align:left;

      img {
        width:50px;
      }
    }

    .product-title {
      max-width: 100px;
      float: left;
      padding-bottom: 10px;
      text-align:left;
      font-size: 12px;
      line-height:13px;
    }
  }

  .quantity-td {
    vertical-align:top;
    font-size: 12px;
    line-height:13px;
    text-align:end;

    #line_item_quantity {
      margin: 0;
      padding: 3px;
      border: 1px solid #ccc;
      border-radius: 4px;
      text-align: right;
      float: right;
      outline: none;
      width: 100%;
      -webkit-transition: all .2s ease-out;
      transition: all .2s ease-out;
      box-sizing: border-box;
      font-size: 1em;

      &:focus {
        border: 1px solid #777;
      }
    }
  }

  .total-td {
    vertical-align:top;
    text-align: right;
    width: 90px;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    line-height:13px;
  }

  .delete-td {
    vertical-align:top;
    width:43px;
    text-align:center;
    height:10px;

    input {
      text-decoration:none;
      background-color:transparent;
      border:none;
      font-size:20px;
    }
  }
}
