.drawer-link {
  text-decoration:none;
  color:#757575;

  i, iron-icon {
    margin-right:24px;
  }

  .svg-icon {
    width:24px;
    height:24px;
    margin-right:24px;
  }

  &:hover {
    background-color:#e0e0e0;
  }
}

#users-list-table {
  border-collapse:collapse;
  padding-bottom:30px;
}
.users-email-td {
  padding:12px;
  text-align:end;
  border-right: 1px solid #333;
}

.profile-helper {
  padding-left: 2px;
  font-size: 12px;
  margin-top:-20px;
}
