.container.layout.horizontal.wrap.center-justified
  .products.layout.horizontal.wrap.center-justified
    = render partial: "product", collection: @products, cached: true

  = link_to_next_page @products, "Show More", remote: true, id: "show-more-products"

- if current_user&.admin?
  = fab new_product_path
