$("#cart-peek").html("<%= j render @cart %><% if !@cart.line_items.empty? %><div class='layout horizontal center-justified' style='margin-top:40px;'><div class='submit-container3'><%= j button_to 'Checkout', new_order_path, method: :get %></div></div><% end %>");
$("#small-cart-link").html("<button class='mdl-button mdl-js-button mdl-button--icon'><i class='material-icons'>shopping_cart</i></button>(<%= @cart.count_items %>)");

$("#order-summary").html("<%= j render @cart %>");
